<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.FansyuriA.AplicationSholatFansyuri">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/logo1"
            android:label="AplicationSholat"
            android:roundIcon="@mipmap/logo1"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.FansyuriA.AplicationSholatFansyuri.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.FansyuriA.AplicationSholatFansyuri.Activity_Jadwal"/>
        <activity android:name="com.FansyuriA.AplicationSholatFansyuri.Activity_Halal"/>
        <activity  android:theme="@style/AppTheme" android:name="com.FansyuriA.AplicationSholatFansyuri.ActivityAsmaulHusna"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.FansyuriA.AplicationSholatFansyuri.ActivityAsmaulHusnaDetail"/>

    </application>

</manifest>